body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 1; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;
  text-align:center;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}


.data1 th {
    background-color: #77dd77;
    border: 1px solid #C8C8C8;
    color: white;
}


tr:hover            { background-color: #ffff99;}






